<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <button (click)="listarTodosItens()">GET</button>
    <br>
    <input type="text" placeholder="description" #post>
    <button (click)="adicionarItem(post.value)">POST</button>
    <br>
    <input type="text" placeholder="id" #delete>
    <button (click)="removerItem(delete.value)">DELETE</button>
    <br>
    <input type="text" placeholder="id" #patchId>
    <input type="text" placeholder="description" #patchDescription>
    <input type="checkbox" [checked]="patchBool.checked" #patchBool>
    <button (click)="atualizarItem(patchId.value, patchDescription.value, patchBool.checked)">PATCH</button>
</body>

</html>