@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,700;0,800;0,900;1,300;1,400;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Montserrat';
}

button {
    font-family: 'Montserrat';
    font-weight: 700;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 5px;
    color: white;
    background-color: #00263A;
    cursor: pointer;
    transition: .5s;
}

button:hover {
    color: #00263A;
    background-color: #41A017;
}

input[type=text] {
    font-family: 'Montserrat';
    font-size: 16px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    margin-left: 10px;
    margin-top: 5px;
}